.container{
	width: 1024px;
	height: 900px;
	background-color: #ccc;
	margin: 0 auto;
}

.logo{
	width: 200px;
	height: 200px;
	color: #fff;
	background-color: #000;
	float: left;
	margin: 0px;
}

.topo{
	width: 800px;
	height: 100px;
	margin: -150px 0px 0px 220px;
	float: left;
	background-color: #cfc;
	word-spacing: 100px;

}
a:link{
	text-decoration: none;
	color: #f09;
}
a:hover{
	color: #f0f;
}

a:visited{
	color: #f09;
}

main{
	width: 600px;
	height: 400px;
	background-color: #f99;
	float: left;
	margin: 40px 0px 0px 212px;
}